alembic==0.9.6
Babel==2.3.4
beautifulsoup4==4.4.1
blinker==1.3
click==6.6
Django==2.0.2
django-appconf==1.0.2
django-super-inlines==0.1.4
django-user-accounts==2.0.3
extras==0.0.3
fixtures==2.0.0
Flask==0.11.1
Flask-Babel==0.11.1
Flask-Gravatar==0.4.2
Flask-HTMLmin==1.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Paranoid==0.1.0
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
html5lib==1.0b10
htmlmin==0.1.12
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.7.3
linecache2==1.0.0
Mako==1.0.7
MarkupSafe==0.23
num2words==0.5.6
olefile==0.44
passlib==1.6.2
pbr==1.9.1
pdfkit==0.6.1
Pillow==4.3.0
pisa==3.0.33
pkg-resources==0.0.0
pycodestyle==2.3.1
pycrypto==2.6.1
PyPDF2==1.26.0
pyrsistent==0.11.13
python-dateutil==2.5.0
python-editor==1.0.3
python-mimeparse==1.5.1
pytz==2018.3
reportlab==3.4.0
simplejson==3.6.5
six==1.11.0
speaklater==1.3
SQLAlchemy==1.0.14
sqlparse==0.1.19
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
webencodings==0.5.1
Werkzeug==0.9.6
WTForms==2.0.2
xhtml2pdf==0.2b1
