<!DOCTYPE html>

{% load humanize%}
{% load l10n %}
{% load staticfiles %}

<html>
<head>
	<title>invoice</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<style type="text/css">


	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	table {
		width: 100%;
	}
	.info {
		width: auto;
	}
	table.noborder, td.noborder, th.noborder {
		border: 0px solid white;
	}
	</style>
</head>
<body>
	<div style="margin: 50px;">
		<div class="row">
			<table>

					<tr>
						<td colspan="2" rowspan="2">{{invoice.seller.bank}}</td>
					    <td>БИК</td>
					    <td>{{invoice.seller.bik}}</td>
				  	</tr>
				  	<tr>
					    <td>Сч. №</td>
					    <td>{{invoice.seller.corAcc}}</td>
				  	</tr>
				  	<tr>
					    <td>ИНН {{invoice.seller.inn}}</td>
					    <td>КПП {{invoice.seller.kpp}}</td>
					    <td rowspan="1">Сч. №</td>
					    <td rowspan="1">{{invoice.seller.checkACC}}</td>
				  	</tr>
				  	<tr>
				    	<td colspan="2">{{invoice.seller.name}}</td>
				  	</tr>
			</table>
		</div>
		<div class="row">
			<h3>Счет на оплату №{{invoice.pk}} от {{invoice.date|date:"DATE_FORMAT"}}</h3>
			<hr/>
			<table class="noborder info">
				<tbody>
					<tr class="noborder info">
						<td style="vertical-align: top;" class="noborder info">Поставщик:</td>
						<td class="noborder info"><strong>{{invoice.seller.name}},<br> ИНН {{invoice.seller.inn}}, КПП {{invoice.seller.kpp}}</strong></td>
					</tr>
					<tr class="noborder info">
						<td style="vertical-align: top;" class="noborder info">Покупатель:</td>
						<td class="noborder info"><strong>{{invoice.customer.name}},<br> ИНН {{invoice.customer.inn}}, КПП {{invoice.customer.kpp}}, {{invoice.customer.address}}</strong></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="row">
			<table class="noborder">
				<thead>
					<tr>
						<th style="width: 3%; text-align: center;">№</th>
						<th style="width: 40%; text-align: center;">Товары</th>
						<th style="width: 15%; text-align: center;">Кол-во</th>
						<th style="width: 10%; text-align: center;">Ед.</th>
						<th style="width: 12%; text-align: center;">Цена</th>
						<th style="width: 20%; text-align: center;">Сумма</th>
					</tr>
				</thead>
				<tbody>
					{% for orderItem in invoice.order.items.all %}
					<tr>
						<td style="text-align: center;"> {{forloop.counter}}</td>
						<td style="text-align: left;">{{orderItem.product.name}} ({{orderItem.product.vendorCode}})</td>
						<td style="text-align: right;">{{orderItem.quantity}}&thinsp;</td>
						<td style="text-align: left;">&thinsp;{{orderItem.product.product.measure}}</td>
						<td style="text-align: right;">{{orderItem.price|floatformat:2|localize}}&thinsp;</td>
						<td style="text-align: right;">{{orderItem.getSum|floatformat:2|localize}}&thinsp;</td>
					</tr>
					{% endfor %}
					<tr class="noborder">
						<td class="noborder"></td>
						<td class="noborder"></td>
						<td class="noborder"></td>
						<th class="noborder" colspan="2" style="text-align: right;">Итого:</th>
						<th class="noborder" style="text-align: right;">{{invoice.order.getTotalSum|floatformat:2|localize}}</th>
					</tr>
					<tr class="noborder">
						<td class="noborder"></td>
						<td class="noborder"></td>
						<td class="noborder"></td>
						<th class="noborder" colspan="2" style="text-align: right;">Доставка:</th>
						<th class="noborder" style="text-align: right;">{{invoice.deliverySum|floatformat:2|localize}}</th>
					</tr>
					<tr class="noborder">
						<td class="noborder"></td>
						<td class="noborder"></td>
						<td class="noborder"></td>
						<th class="noborder" colspan="2" style="text-align: right;">В том числе НДС:</th>
						<th class="noborder" style="text-align: right;">{{invoice.taxes|floatformat:2|localize}}</th>
					</tr>
					<tr class="noborder">
						<td class="noborder"></td>
						<td class="noborder"></td>
						<td class="noborder"></td>
						<th class="noborder" colspan="2" style="text-align: right;">Всего к оплате:</th>
						<th class="noborder" style="text-align: right;">{{invoice.toPay|floatformat:2|localize}}</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
		<!--<p>Всего наименований {{invoice.order.items.all|length}}, на сумму {{invoice.order.getTotalSum|floatformat:2|localize}} руб</p>-->
		<p>Всего к оплате: <strong>{{sumInWords}}</strong></p>
		</div>
		<div class="row">
			<p></p>
		</div>
		<hr/>
		<div class="row">
		</div>
	</div>
</body>
</html>
